.collapsible {
  background-color: white;
  cursor: pointer;
  padding: 18px 18px 18px 0px;
  width: 100%;
  border: none;
  outline: none;
  color: black;
  font-weight: normal;
  font-size: 0.875rem;
  text-transform: capitalize;
  text-align: left;
  border-top: 1px solid #d9d9d9;
}

.collapsible::after {
  content: '';
  background-image: url("../../images/icons/mas.svg");
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  float: right;
}

.active:after {
  content: '';
  background-image: url("../../images/icons/menos.svg");
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  float: right;
}

.content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  background-color: white;
}

.has-fade {
  visibility: hidden;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: block;
  width: 178px;
  background-color: black;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-size: 0.875rem;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-white {
  width: 121px;
  height: 55px;
  background-color: white;
  color: black;
  font-size: 0.875rem;
  line-height: 40px;
  border-radius: 5px;
  margin-top: 65px !important;
  text-transform: capitalize;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.colorOvermouse {
  color: #d81313 !important;
}

.header {
  border-bottom: 1px solid #d9d9d9;
}

.header__offer {
  background-color: black;
  height: 50px;
  max-width: 100%;
  text-align: center;
}

@media (min-width: 64em) {
  .header__offer {
    height: 40px;
  }
}

.header__offer .close-btn::after {
  position: absolute;
  content: "\00D7";
  color: white;
  font-size: 1.75rem;
  float: right;
  margin-left: 5px;
  float: right;
  top: 10px;
  right: 15px;
}

.header__offer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0;
}

.header__offer p > span {
  font-weight: normal;
}

@media (min-width: 64em) {
  .header__offer p {
    display: block;
    font-size: 0.9375rem;
  }
}

.header nav {
  padding: 0 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 64em) {
  .header nav {
    padding: 20px 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.header__logo {
  width: 158px;
  height: 32px;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__links ul > li {
  display: inline-block;
}

.header__links ul > li:not(:last-child) {
  margin-right: 32px;
}

.header__links ul > li:hover > .sub-menu {
  display: block;
}

.header__links a {
  text-decoration: none;
  display: block;
  font-size: 0.875rem;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:hover {
  color: #d81313;
}

.header__links .sub-menu {
  display: none;
  position: absolute;
  background: #f2f2f2;
  width: 150px;
}

.header__links .sub-menu > li {
  display: block;
}

.header__links .sub-menu > li a {
  display: inline-block;
  padding: 0 0.5em;
  height: 40px;
  line-height: 40px;
  width: 100%;
  color: black;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links .sub-menu > li a:hover {
  color: #d81313;
}

.header__search {
  border: none;
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

@media (min-width: 64em) {
  .header__search {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.header__search button {
  background-image: url("../../images/icons/search.svg");
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: none;
}

.header__search input {
  border: none;
  width: 131px;
  font-size: 0.75rem;
}

.header__search input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.header__search input:-ms-input-placeholder {
  text-transform: uppercase;
}

.header__search input::-ms-input-placeholder {
  text-transform: uppercase;
}

.header__search input::placeholder {
  text-transform: uppercase;
}

.header__search input:focus {
  outline: none;
}

.header__search input:active {
  border: none;
}

.header__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cta a {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.9375rem;
  color: #999999;
  padding-right: 8px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__cta a:hover {
  color: #d81313;
}

.header__cta > span {
  display: inline-block;
  background-image: url("../../images/icons/bag.svg");
  width: 40px;
  height: 52px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 64em) {
  .header__cta > span {
    height: 69px;
  }
}

.header__toggle {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

@media (min-width: 64em) {
  .header__toggle {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.header__toggle a > span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: black;
}

.header__toggle a > span:not(:last-child) {
  margin-bottom: 5px;
}

.shop {
  margin-bottom: 50px;
}

.shop__breadcrumb {
  width: 100%;
  margin-bottom: 30px;
  padding: 0 20px;
}

@media (min-width: 64em) {
  .shop__breadcrumb {
    padding: 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #d9d9d9;
  }
}

.shop__breadcrumb ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.shop__breadcrumb ul li p {
  font-size: 0.875rem;
  font-weight: normal;
}

.shop__breadcrumb ul li p span {
  display: inline-block;
  background-image: url("../../images/icons/arrow.svg");
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 19px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 64em) {
  .shop__breadcrumb ul li p span {
    width: 10px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    -webkit-transform: none;
            transform: none;
  }
}

.shop__breadcrumb ul li h1 {
  color: black;
  font-size: 1.75rem;
  font-weight: normal;
  text-align: center;
}

@media (min-width: 64em) {
  .shop__breadcrumb ul li h1 {
    text-align: left;
  }
}

.shop__wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__wrap .left {
  width: 350px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 10px;
}

.shop__wrap .left p {
  color: black;
  font-weight: normal;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.shop__wrap .left .sidebar aside {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.shop__wrap .left .sidebar aside ul {
  list-style: none;
  padding: 0;
}

.shop__wrap .left .sidebar aside ul li :not(:last-child) {
  margin-bottom: 20px;
}

.shop__wrap .left .sidebar aside ul li input {
  margin: 0;
}

.shop__wrap .left .sidebar aside ul li > label {
  margin-left: 10px;
  font-size: 0.875rem;
  color: #999999;
  font-weight: normal;
  text-transform: capitalize;
}

.shop__wrap .right {
  width: 100%;
}

@media (min-width: 64em) {
  .shop__wrap .right {
    -webkit-box-flex: 9;
        -ms-flex-positive: 9;
            flex-grow: 9;
    width: 100%;
    margin-left: 40px;
  }
}

.shop__wrap .right .product {
  margin: o auto;
}

.shop__wrap .right .product .product__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop__wrap .right .product .product__grid .btn {
  margin-top: 20px;
}

.shop__wrap .right .product__sort-mobile {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 55px;
  padding: 0;
  margin-bottom: 30px;
}

.shop__wrap .right .product__sort-mobile a {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 25.5px;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.shop__wrap .right .product__sort-mobile a:nth-child(1) {
  border-right: 0.5px solid;
}

.shop__wrap .right .product__sort-mobile a:nth-child(2) {
  border-left: 0.5px solid;
}

.shop__wrap .right .product__sort-mobile a span {
  display: inline-block;
  width: 9px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 19px;
}

.shop__wrap .right .product__sort-mobile .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shop__wrap .right .product__sort-mobile .overlay a {
  border: none !important;
}

.shop__wrap .right .product__sort-mobile .overlay a::after {
  position: absolute;
  content: "";
  background-image: url("../../images/icons/close-mobile.svg");
  color: black;
  font-size: 70px;
  float: right;
  margin-left: 5px;
  float: right;
  top: 26px;
  right: 10px;
  border: none !important;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.shop__wrap .right .product__sort-mobile .overlay__content {
  margin: 0 auto;
}

.shop__wrap .right .product__sort-mobile .overlay__content p {
  margin: 0;
  margin-left: 18px;
  font-size: 1.75rem;
  font-weight: 300;
}

.shop__wrap .right .product__sort-mobile .overlay__content p::first-letter {
  text-transform: uppercase;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  padding: 0 20px;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .size {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .size p {
  font-size: 0.9375rem;
  margin-left: 0;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .size ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-left: 9px;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .size ul li {
  margin-bottom: 18px;
  width: 20%;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .size ul li > input {
  display: none;
  outline: black;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .size ul li > label {
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #999999;
  color: #687078;
  display: block;
  height: 55px;
  width: 55px;
  padding-top: 18px;
  text-align: center;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .size ul li > label:hover {
  font-weight: 600 !important;
  border: 2px solid #687078 !important;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .color {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 10px;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .color p {
  font-size: 0.9375rem;
  margin-left: 0;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .color ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-left: 9px;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .color ul li {
  margin-bottom: 18px;
  width: 20%;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .color ul li > input {
  display: none;
  outline: black;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .color ul li > label {
  cursor: pointer;
  border: 1px solid #999999;
  color: #687078;
  background-color: #9fa8ad;
  display: block;
  height: 77px;
  width: 53px;
  padding-top: 18px;
  text-align: center;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .color ul li > label:hover {
  font-weight: 600 !important;
  border: 2px solid #d81313 !important;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .precio {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .precio p {
  font-size: 0.9375rem;
  margin-left: 0;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .precio ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .precio ul li {
  margin-bottom: 18px;
  width: 20%;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .precio ul li > input {
  display: none;
  outline: black;
  position: relative;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .precio ul li > label {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #999999;
  color: #687078;
  background-color: #9fa8ad;
  display: block;
  height: 22px;
  width: 22px;
  text-align: center;
}

.shop__wrap .right .product__sort-mobile .overlay .swatches .precio ul li > label:hover {
  font-weight: 600 !important;
  border: 2px solid #d81313 !important;
}

.shop__wrap .right .product__top-sort-by {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
}

@media (min-width: 64em) {
  .shop__wrap .right .product__top-sort-by {
    padding: 0;
    margin-bottom: 0;
  }
}

.shop__wrap .right .product__top-sort-by select {
  border: none;
  text-transform: capitalize;
  font-size: 0.9375rem;
  color: #687078;
}

.shop__wrap .right .product__top-sort-by select:focus {
  outline: none;
}

.shop__wrap .right .product__top-sort-by select option {
  text-transform: capitalize;
}

.shop__wrap .right .product__top-sort-by p {
  display: inline-block;
  color: #687078;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.3px;
}

.shop__wrap .right .product__item {
  width: 100%;
  height: 515px;
  padding: 0 20px;
}

@media (min-width: 64em) {
  .shop__wrap .right .product__item {
    width: 32.9%;
    height: 515px;
    margin: 5px 2px;
    padding: 0;
  }
}

.shop__wrap .right .product__image {
  position: relative;
}

.shop__wrap .right .product__image img {
  width: 100%;
  height: 419px;
}

.shop__wrap .right .product__image p {
  position: absolute;
  top: 0px;
  right: 0;
  margin: 0;
  padding: 5px;
  font-size: 0.6875rem;
  color: white;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
}

.shop__wrap .right .product__detail p {
  padding: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.shop__wrap .right .product__detail .title {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-top: 2px;
  margin-bottom: 15px;
}

.shop__wrap .right .product__detail .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.9375rem;
  font-weight: 500;
  margin-bottom: 5px;
}

@media (min-width: 64em) {
  .shop__wrap .right .product__detail .price {
    display: block;
  }
}

.shop__wrap .right .product__detail .price > span {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-size: 0.6875rem;
  color: #999999;
  margin-right: 10px;
}

.shop__wrap .right .product__detail .cuotas {
  font-size: 0.75rem;
  color: #d81313;
  text-transform: capitalize;
  font-weight: 600;
}

@media (min-width: 64em) {
  .shop__wrap .right .product__detail .cuotas {
    font-weight: normal;
  }
}

.shop__wrap .right .product__detail .cuotas span {
  text-transform: none;
  font-weight: 600;
}

.footer {
  border-top: 1px solid #d9d9d9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}

.footer__link ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.footer__link ul li {
  margin: 30px 0;
}

.footer__link ul li a {
  text-decoration: none;
  display: block;
  font-size: 0.75rem;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.footer__link ul li a:hover {
  color: #d81313;
}

.footer__form {
  margin-top: 20px;
  text-align: center;
}

.footer__form h3 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}

.footer__form p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: normal;
  text-transform: lowercase;
}

.footer__form p::first-letter {
  text-transform: uppercase;
}

.footer__form input {
  width: 235px;
  height: 38px;
  margin: 15px 0;
}

.footer__form input::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #999999;
  text-align: center;
}

.footer__form input:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #999999;
  text-align: center;
}

.footer__form input::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #999999;
  text-align: center;
}

.footer__form input::placeholder {
  font-size: 0.875rem;
  color: #999999;
  text-align: center;
}

.footer__form .btn {
  margin: 0;
  text-transform: uppercase;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */